.container
  %h1
    UID: 
    = @user.authorizations.last.uid

  %dl.dl-horizontal
    %dt # of posts
    %dd= @user.events.count

  %legend Submitted Events
  = render @user.events.order(event_at: :desc)