- if can? :manage, Event
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      - if @event.nil? or not @event.new_record?
        .navbar-right
          .btn-group
            = link_to new_event_path, class: 'btn btn-success navbar-btn', data: { no_turbolink: true } do
              New post
          
      - unless current_page?(events_path)
        .btn-group
          = link_to events_path, class: 'btn btn-primary navbar-btn' do
            %i.glyphicon.glyphicon-arrow-left
            View all
      
      - unless @event.nil? or @event.new_record? or current_page?(edit_event_path(@event))
        .btn-group
          = link_to edit_event_path(@event), class: 'btn btn-default navbar-btn', data: { no_turbolink: true } do
            Edit post