.row
  .col-lg-8.col-md-7
    #map{ style: 'height: 400px;' }
    = hidden_field_tag :lat, @event.location.lat, id: 'event_lat'
    = hidden_field_tag :lng, @event.location.lng, id: 'event_lng'
    :javascript
      var editor;
      $(document).on('map:ready', function(e, container) {
        editor = new EventEditor(container, { lat: '#event_lat', lng: '#event_lng', editable: false })
      })

  .col-lg-4.col-md-5
    = render @event
