// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

dl.event {
  dt {
    text-align: left;
    width: 100px;
  }
  dd {
    margin-left: 110px;
  }
}

@media only screen and (max-width: 560px) {
  #map {
    max-height: 250px;
  }
}

#map.editor-map {
  height: 500px;
}
