.navbar {
  margin-bottom: 0;
}

.navbar-uaf {
  background-color: #236192;
  color: #efefef;
  border-color: darken(#236192, 20%);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
  

  .navbar-toggle {
    color: black;
    background-color: white;
  }
  
  .navbar-toggle {
    &:hover, &:focus {
      background-color: #dfdfdf;
    }
  }

  .icon-bar {
    background-color: #fff;
  }  

  .navbar-nav > li {
    a {
      color: #FFFFFF;
      &:hover {
        background-color:#efefef;
        color: #333;
      }
    }
    &.active > a {
      background-color: #dfdfdf;
      color: #3f3f3f;
    }
  }

  .navbar-brand {
    font-size: 25px;
    color: #FFCD00;
  }
}
