#map_container
  #map
  
:javascript
  $(document).one('map:ready', function(e, container) {
    geojson = MapLayer.fromConfig({ type: 'geojson', url: '/events.geojson', popup: '<h4>{{title}}</h4><p>{{description}}</p><dl class="dl-horizontal event"><dt>Group</dt><dd>{{group.name}}</dd><dt>Starts</dt><dd data-date-format>{{starts_at}}</dd><dt>Ends</dt><dd data-date-format>{{ends_at}}</dd></dl>' });
    geojson.addTo(container.map);
  })